{% extends 'base.html' %}
{% block content %}
{% load static %}
<section id="about-us" class="py-12 bg-gray-100">
    <div class="container mx-auto px-6">
        <div id="service-heading" class="text-center mb-16">
            <h1 class="text-4xl font-bold text-gray-800">ABOUT US</h1>
            <p class="text-lg text-gray-600 py-4 mb-8"><em>amtechnologiesvns@gmail.com</em></p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mb-16">
            <div class="left flex justify-center items-center">
              
                <img src="{% static 'images/WhatsApp%20Image%202024-06-05%20at%2017.49.55.jpeg' %}" alt="Our Team" class="rounded-lg shadow-lg">
            </div>
            <div class="right flex flex-col justify-center">
                <h2 class="text-3xl font-semibold text-gray-800 mb-4">Who We Are</h2>
                <p class="text-gray-600 leading-relaxed text-lg">
                    A.M.I.T Technology is a pioneering digital solutions company dedicated to transforming businesses through innovative and customized technology services. Founded with a vision to lead the digital revolution, we specialize in a broad range of services designed to meet the diverse needs of our clients. Our team of experts is committed to delivering excellence and driving success for our clients in the ever-evolving digital landscape.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mb-16">
            <div class="left flex flex-col justify-center">
                <h2 class="text-3xl font-semibold text-gray-800 mb-4">Our Services</h2>
                <p class="text-gray-600 leading-relaxed text-xl mb-4">
                    We offer a wide range of services to cater to various business needs:
                </p>
                <ul class="list-disc list-inside font-semibold text-gray-600 text-lg">
                    <li>Online Exam Solutions</li>
                    <li>Website Development</li>
                    <li>Software Development</li>
                    <li>Confidential Printing</li>
                    <li>OMR/ICR Technology</li>
                    <li>Coding of Answer Booklets</li>
                    <li>Degree Printing</li>
                </ul>
            </div>
            <div class="right flex justify-center items-center">
                <img src="{% static 'images/WhatsApp Image 2024-06-05 at 17.49.56.jpeg' %}" alt="Services" class="rounded-lg shadow-lg">
            </div>
        </div>
       
            <div class="right flex flex-col justify-center">
                <h2 class="text-3xl font-semibold text-gray-800 mb-4">Our Vision</h2>
                <p class="text-gray-600 leading-relaxed mb-20 text-lg">
                    Our vision is to be at the forefront of the digital transformation, setting new standards of excellence in the tech industry. We aspire to be recognized as a leader in delivering innovative and effective digital solutions that help businesses navigate the complexities of the digital age. Our commitment to quality, integrity, and customer satisfaction drives us to continually push the boundaries of what is possible.
                </p>
            </div>
        
        <div class="text-center mb-16">
            <h2 class="text-3xl font-semibold text-gray-800 mb-4">Our Values</h2>
            <p class="text-gray-600 leading-relaxed mb-20 text-lg font-bold">Innovation, Excellence, Integrity, Customer-Centricity, Collaboration</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mb-16">
            <!-- <div class="flex flex-col items-center">
                <img src="/static/founder.jpg" alt="Founder" class="rounded-full h-40 w-40 mb-4">
                <h3 class="text-xl font-bold text-gray-800">[Founder's Name]</h3>
                <p class="text-gray-600">Founder</p>
                <p class="text-center text-gray-600 mt-2">A visionary leader with a passion for innovation and excellence, [Founder's Name] established A.M.I.T Technology to revolutionize the digital landscape.</p>
            </div>
            <div class="flex flex-col items-center">
                <img src="/static/director.jpg" alt="Director" class="rounded-full h-40 w-40 mb-4">
                <h3 class="text-xl font-bold text-gray-800">[Director's Name]</h3>
                <p class="text-gray-600">Director</p>
                <p class="text-center text-gray-600 mt-2">With extensive experience in business management and technology integration, [Director's Name] drives the strategic growth of the company.</p>
            </div>
            <div class="flex flex-col items-center">
                <img src="/static/manager.jpg" alt="Manager" class="rounded-full h-40 w-40 mb-4">
                <h3 class="text-xl font-bold text-gray-800">[Manager's Name]</h3>
                <p class="text-gray-600">Manager</p>
                <p class="text-center text-gray-600 mt-2">An expert in project management, [Manager's Name] ensures the seamless execution of projects and client satisfaction.</p>
            </div> -->
            <!-- <div class="flex flex-col items-center">
                <img src="/static/advisor.jpg" alt="Advisor" class="rounded-full h-40 w-40 mb-4">
                <h3 class="text-xl font-bold text-gray-800">[Advisor's Name]</h3>
                <p class="text-gray-600">Advisor</p>
                <p class="text-center text-gray-600 mt-2">A trusted mentor and industry expert, [Advisor's Name] provides strategic guidance and insights to steer the company towards success.</p>
            </div> -->
        </div>
        <div class="text-center">
            <h2 class="text-3xl font-semibold text-gray-800 mb-4">Why Choose Us?</h2>
            <p class="text-gray-600 leading-relaxed mb-8 text-lg font-semibold">
                Expertise, Customization, Innovation, Customer Focus, Reliability
            </p>
        </div>
    </div>
</section>

<!-- -------------------------team section------------------------------------- -->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-lg">Our team at [Company Name] comprises dedicated professionals driven by passion and expertise in technology. With a collaborative spirit and commitment to excellence, we work tirelessly to deliver innovative solutions that meet and exceed the expectations of our clients, ensuring success in every endeavor.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Mayur Verma</h2>
            <h3 class="text-gray-500 mb-3">Sr. Software Developer</h3>
            <p class="mb-4">Mr Mayur leverages extensive expertise to architect and implement cutting-edge solutions, driving technological excellence and innovation.</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/201x201">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Shashank Jaiswal</h2>
            <h3 class="text-gray-500 mb-3">Sr. Database Administrator</h3>
            <p class="mb-4">Mr Shashank ensures seamless data management, optimizing performance and security to support critical business operations.</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Imran Khan</h2>
            <h3 class="text-gray-500 mb-3">Data Administrator</h3>
            <p class="mb-4">Mr Imran meticulously manages and organizes data, ensuring accuracy and efficiency in information handling.</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Aslam Khan</h2>
            <h3 class="text-gray-500 mb-3">Senior Operator</h3>
            <p class="mb-4">Mr Aslam plays a crucial role in maintaining accurate and organized information, ensuring efficiency and reliability in data management tasks.</p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

{% endblock content %}
