{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-12 p-20">
            <h1 class="text-3xl font-medium title-font text-gray-900">Privacy Policy</h1>
        </div>
        <div class="flex flex-col text-left">
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">1. Introduction</h2>
                <p class="leading-relaxed text-gray-600">Welcome to A.M.I.T Technology's Privacy Policy. Your privacy is critically important to us.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">2. Information We Collect</h2>
                <p class="leading-relaxed text-gray-600">We collect various types of information in connection with the services we provide, including:</p>
                <ul class="list-disc list-inside text-gray-600">
                    <li>Personal identification information (Name, email address, phone number, etc.)</li>
                    <li>Log data (IP address, browser type, etc.)</li>
                    <li>Cookies and usage data</li>
                </ul>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">3. How We Use Information</h2>
                <p class="leading-relaxed text-gray-600">A.M.I.T Technology uses the collected data for various purposes:</p>
                <ul class="list-disc list-inside text-gray-600">
                    <li>To provide and maintain our service</li>
                    <li>To notify you about changes to our service</li>
                    <li>To provide customer support</li>
                    <li>To gather analysis or valuable information so that we can improve our service</li>
                    <li>To monitor the usage of our service</li>
                    <li>To detect, prevent and address technical issues</li>
                </ul>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">4. Security of Data</h2>
                <p class="leading-relaxed text-gray-600">The security of your data is important to us but remember that no method of transmission over the Internet or method of electronic storage is 100% secure.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">5. Changes to This Privacy Policy</h2>
                <p class="leading-relaxed text-gray-600">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">6. Contact Us</h2>
                <p class="leading-relaxed text-gray-600">If you have any questions about this Privacy Policy, please contact us at:</p>
                <p class="leading-relaxed text-gray-600">Email: amtechnologiesvns@gamil.com</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
