{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-12 p-20">
            <h1 class="text-3xl font-medium title-font text-gray-900">Terms and Conditions</h1>
        </div>
        <div class="flex flex-col text-left">
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">1. Introduction</h2>
                <p class="leading-relaxed text-gray-600">These Terms and Conditions govern your use of our website. By using our website, you accept these Terms and Conditions in full.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">2. Intellectual Property Rights</h2>
                <p class="leading-relaxed text-gray-600">Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">3. License to Use Website</h2>
                <p class="leading-relaxed text-gray-600">You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">4. Acceptable Use</h2>
                <p class="leading-relaxed text-gray-600">You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">5. Restricted Access</h2>
                <p class="leading-relaxed text-gray-600">Access to certain areas of our website is restricted. We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">6. User Content</h2>
                <p class="leading-relaxed text-gray-600">In these Terms and Conditions, "your user content" means material (including without limitation text, images, audio material, video material, and audio-visual material) that you submit to our website, for whatever purpose.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">7. No Warranties</h2>
                <p class="leading-relaxed text-gray-600">This website is provided "as is" without any representations or warranties, express or implied. We make no representations or warranties in relation to this website or the information and materials provided on this website.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">8. Limitations of Liability</h2>
                <p class="leading-relaxed text-gray-600">We will not be liable to you in relation to the contents of, or use of, or otherwise in connection with, this website for any indirect, special or consequential loss.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">9. Indemnity</h2>
                <p class="leading-relaxed text-gray-600">You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses incurred or suffered by us arising out of any breach by you of any provision of these Terms and Conditions.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">10. Breaches of These Terms and Conditions</h2>
                <p class="leading-relaxed text-gray-600">Without prejudice to our other rights under these Terms and Conditions, if you breach these Terms and Conditions in any way, we may take such action as we deem appropriate to deal with the breach.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">11. Variation</h2>
                <p class="leading-relaxed text-gray-600">We may revise these Terms and Conditions from time-to-time. Revised Terms and Conditions will apply to the use of our website from the date of publication of the revised Terms and Conditions on our website.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">12. Severability</h2>
                <p class="leading-relaxed text-gray-600">If a provision of these Terms and Conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">13. Entire Agreement</h2>
                <p class="leading-relaxed text-gray-600">These Terms and Conditions, together with our Privacy Policy, constitute the entire agreement between you and us in relation to your use of our website.</p>
            </div>
            <div class="mb-4">
                <h2 class="text-2xl font-medium title-font text-gray-900">14. Law and Jurisdiction</h2>
                <p class="leading-relaxed text-gray-600">These Terms and Conditions will be governed by and construed in accordance with the laws of our country, and any disputes relating to these Terms and Conditions will be subject to the exclusive jurisdiction of the courts of our country.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
